<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drive School War</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div id="ui" v-if="ShowUI">
		<div class="main">
			<div class="headtext">SCHOOL WAR<span id="event"></span></div> 
			<div class="pointblock">
				<div v-for="(v, k) in teamData">
					<div class="team">
						<div class="block-home">
							<span class="ic"><img :src="v.logo"> {{ v.teamLabel }}</span>
						</div>
						<div class="block-point">{{ v.score }}</div>
						<div class="block-stat">
							<div v-if="v.cd">
								<i class="fas fa-stopwatch"></i>
							</div>
							<div v-else>
								<i class="fas fa-user-ninja"></i>
							</div>
						</div>
						<div class="block-prop">
							<div v-if="PropData[k]">
								<span class="texthp"><i class="fas fa-dice"></i> {{PropData[k].hp}}</span>
								<div v-if="PropData[k].hp > 150" v-bind:style="{ width: (PropData[k].hp/2) + '%'}" class="hpprop" style="background-color: #4caf50;">{{PropData[k].hp}}</div>
								<div v-else-if="PropData[k].hp > 60" v-bind:style="{ width: (PropData[k].hp/2) + '%'}" class="hpprop" style="background-color: #ebe93f;">{{PropData[k].hp}}</div>
								<div v-else-if="PropData[k].hp > 20" v-bind:style="{ width: (PropData[k].hp/2) + '%'}" class="hpprop" style="background-color: #eba03f;">{{PropData[k].hp}}</div>
								<div v-else v-bind:style="{ width: (PropData[k].hp/2) + '%'}" class="hpprop" style="background-color: #e71d13;">{{PropData[k].hp}}</div>
							</div>
							<div v-else>
								<span class="texthp"><i class="fas fa-stopwatch"></i></span>
								<div class="hpprop">0</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="blockFeed">
			<div v-for="item in FeedDatas" v-bind:key="item" class="Feed">{{ item }}</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
	<script src="main.js"></script>
</body>
</html>